.card-display {
    position: relative;
    
}

.card-display img{
    display: block;
    width: 200px;
    height: 250px;
    border: 2px solid black;
    background-color: blue; 
}
/* hide the card rotating it */
.card-display .front{
    transform: rotateY(90deg);
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg);
}