.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
h1{
  margin: 5px;
}
button{
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #eee;
  padding: 10px;
}
p{
  display: inline-block;
  margin-left: 2em;
}
button:hover{
  background: darkcyan;
}

.card-grid {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  ;
  grid-gap: 10px;
}



